$font-lexend: "Lexend", sans-serif

$heading-font-family: $font-lexend
$body-font-family: $font-lexend

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none

$color-text: #02838a
$background-color: #b4e8be